{% extends 'base.html' %}

{% block body %}

<main class="col-md-8 ms-sm-auto col-lg-10 px-md-4">
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap pt-3 pb-2 mb-3 border-bottom">
      <h1 class="h2">Liste des consultations journalières</h1>
  </div>
  <br>
    
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-12 col-lg-12">
        <div class="card">
          <div class="card-header text-center">
            RECHERCHER
          </div>
          <div class="card-body">
            <form method="POST" action="" class="row g-3 align-items-center">
              {% csrf_token %}
              <div class="col-auto">
                  <input type="text" id="search_nom" name="consult" class="form-control" placeholder="Nom Prénoms">
              </div>
              <div class="col-auto">
                <input type="text" id="search_matricule" name="matricule" class="form-control" placeholder="Matricule">
              </div>
              <div class="col-auto">
                  <input type="date" id="search_date" name="date" class="form-control">
              </div>
              <div class="col-auto">
                  <select id="search_mois" name="mois" class="form-select">
                      <option value="">Sélectionnez un mois</option>
                      <option value="1">Janvier</option>
                      <option value="2">Février</option>
                      <option value="3">Mars</option>
                      <option value="4">Avril</option>
                      <option value="5">Mai</option>
                      <option value="6">Juin</option>
                      <option value="7">Juillet</option>
                      <option value="8">Aout</option>
                      <option value="9">Septembre</option>
                      <option value="10">Octobre</option>
                      <option value="11">Novembre</option>
                      <option value="12">Décembre</option>
                  </select>
              </div>

              <div class="col-auto">
                  <input type="text" id="search_annee" name="annee" class="form-control" placeholder="Année">
              </div>
              <div class="col-auto">
                  <button type="submit" class="btn btn-primary">Rechercher</button>
              </div>
          </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br><br>
  <!-- <h2>Section title</h2> -->
  <div class="container mb-3">
    <div class="table-responsive">
      <table class="table table-striped table-sm table-hover">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Date</th>
            <th scope="col">SOCIETE</th>
            <th scope="col">NOM_PRENOMS</th>
            <th scope="col">MATRICULE</th>
            <th scope="col">DEPARTEMENT</th>
            <th scope="col">TYPE DE VISITE</th>
            <th scope="col">APTITUDE</th>
            <th scope="col">AFFECTION CONNUE</th>
            <!-- <th scope="col">NOUVELLE AFFECTION</th> -->
            <!-- <th scope="col">OBSERVATIONS</th> -->
            <!-- <th scope="col">Actions</th> -->
          </tr>
        </thead>
        <tbody>
          {% for day in days %}
          <tr>
            <td>{{ day.id }}</td>
            <td>{{ day.date_consultation }}</td>
            <td>
              {% if day.societe  %}
                {{ day.societe }}
              {% elif day.travailleurs %}
                {{ day.travailleurs.societe}}
              {% else %}
                <span>AUCUN</span>
              {% endif %} 
            </td>
            <td><a href="{% url 'consultation:detail_consultation_jour' day.id %}">
              {% if day.nom_prenoms  %}
                {{ day.nom_prenoms|truncatewords:12 }}
              {% elif day.travailleurs %}
                {{ day.travailleurs.nom|truncatewords:12 }}
              {% else %}
                <span>AUCUN</span>
              {% endif %}
            </a></td>
            <td>
              {% if day.matricule  %}
                {{ day.matricule }}
              {% elif day.travailleurs %}
                {{ day.travailleurs.matricule }}
              {% else %}
                <span>AUCUN</span>
              {% endif %}
            </td>  
            <td>
              {% if day.atelier  %}
                {{ day.atelier }}
              {% elif day.travailleurs %}
                {{ day.travailleurs.atelier }}
              {% else %}
                <span>AUCUN</span>
              {% endif %}
            </td>              
            <td>{{ day.type_visite }}</td>
            <td>{{ day.aptitude }}</td>
            <td>{{ day.affection_connue }}</td>
          </tr>

          {% empty %}
          <tr>
              <td colspan="14" class="text-center">Aucune consultation trouvée.</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-12 col-md-12 col-lg-12">
            <nav aria-label="Pagination">
                <ul class="pagination justify-content-center">
                    {% if days.has_previous %}
                    <li class="page-item">
                    <a class="page-link" href="?page={{ days.previous_page_number }}" aria-label="Précédent">
                                <span aria-hidden="true">&laquo;</span>
                                <span class="sr-only">Précédent</span>
                    </a>
                    </li>
                    {% endif %}
                        
                    {% for page_num in days.paginator.page_range %}
                    {% if page_num <= 11 %} {# Limite le nombre de numéros de page affichés à 8 #}
                        <li class="page-item {% if page_num == days.number %}active{% endif %}">
                        <a class="page-link" href="?page={{ page_num }}">{{ page_num }}</a>
                        </li>
                    {% endif %}
                    {% endfor %}
                        
                    {% if days.has_next %}
                    <li class="page-item">
                            <a class="page-link" href="?page={{ days.next_page_number }}" aria-label="Suivant">
                            <span>...</span>

                                <span class="sr-only">Suivant</span>
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                    </li>
                    {% endif %}
                </ul>
            </nav>
      </div>
    </div>
  </div>
  
</main>

{% endblock %}