{% extends 'base.html' %}

{% block body %}

<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap pt-3 pb-2 mb-3 border-bottom">
      <h1 class="h2">Consultation VMA</h1>
    </div>
    <br><br>

    <div class="container">
      <form method="POST" id="consultations-forms">
            {% csrf_token %}
            <div class="card">
                <div class="card-body">
                    <main class="form-signin">
                        <div class="row">
                            <div class="col-12 col-md-4 col-lg-4">
                                <div class="form-floating mt-2">
                                {{ form.travailleurs}}
                                <label for="travailleurs" class="text-primary">Travailleur</label>
                                </div>
                            </div>
                            <div class="col-12 col-md-4 col-lg-4">
                                <div class="form-floating mt-2">
                                {{ form.matricule}}
                                <label for="matricule" class="text-primary">Matricule</label>
                                </div>
                            </div>
                            <div class="col-12 col-md-4 col-lg-4">
                                <div class="form-floating mt-2 text-info">
                                {{ form.societe}}
                                <label for="societe" class="text-primary">Société</label>  
                                </div>
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="col-12 col-md-6 col-lg-6">
                                <div class="form-floating mt-2 text-info">
                                {{ form.nom_prenoms}}
                                <label for="nom_prenoms" class="text-primary">Nom et Prénoms</label>  
                                </div>
                            </div>
                            <div class="col-12 col-md-6 col-lg-6">
                                <div class="form-floating mt-2">
                                {{ form.atelier}}
                                <label for="atelier" class="text-primary">Departement</label>  
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12 col-md-6 col-lg-6">
                                <div class="form-floating mt-2">
                                {{ form.emploi_occupe}}
                                <label for="emploi_occupe" class="text-primary">Emploi Occupé</label>
                                </div>
                            </div>
                            <div class="col-12 col-md-6 col-lg-6">
                                <div class="form-floating mt-2">
                                {{ form.type_visite}}
                                <label for="type_visite" class="text-primary">Type de Visite</label>  
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12 col-md-6 col-lg-6">
                                <div class="form-floating mt-2">
                                    {{ form.age}}
                                    <label for="age" class="text-primary">Age</label>  
                                </div>
                            </div>
                            <div class="col-12 col-md-6 col-lg-6">
                                <div class="form-floating mt-2">
                                    {{ form.affection_connue}}
                                    <label for="affection_connue" class="text-primary">Affection Connue</label>  
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12 col-md-6 col-lg-6">
                                <div class="form-floating mt-2">
                                    {{ form.nouvelle_affection}}
                                    <label for="nouvelle_affection" class="text-primary">Nouvelle Affection</label>  
                                </div>
                            </div>
                            <div class="col-12 col-md-6 col-lg-6">
                                <div class="form-floating mt-2">
                                    {{ form.aptitude}}
                                    <label for="aptitude" class="text-primary">Aptitude</label>  
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12 col-md-6 col-lg-6">
                                <div class="form-floating mt-2">
                                    {{ form.examen_realise}}
                                    <label for="examen_realise" class="text-primary">Examen Réalisé</label>  
                                </div>
                            </div>
                            <div class="col-12 col-md-6 col-lg-6">
                                <div class="form-floating mt-2">
                                    {{ form.nature_risque}}
                                    <label for="nature_risque" class="text-primary">Nature du Risque</label>  
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12 col-md-12 col-lg-12">
                                <div class="form-floating mt-2">
                                    {{ form.observation}}
                                    <label for="observation" class="text-primary">Observation</label>  
                                </div>
                            </div>
                        </div>
                    </main>
                </div>
                <div class="card-footer">
                    <div class="row">
                        <div class="col-12 col-md-4">
                            <a href="{% url 'consultation:list_consultation_vma' %}" class="w-100 btn btn-lg btn-outline-danger">Annuler</a>
                        </div>
                        <div class="col-12 col-md-4">
                            <button class="w-100 btn btn-lg btn-outline-secondary" type="button" onclick="viderFormulaire()">Vider</button>
                        </div>
                        <div class="col-12 col-md-4">
                            <button class="w-100 btn btn-lg btn-outline-primary" type="submit">Ajouter</button>
                        </div>
                    </div>
                </div>
            </div>
      </form>
    </div>    

    <!-- Ajoutez une div pour la pop-up -->
    <div id="success-popup" style="display: none; text-align: center;">
      <p>La consultation a été ajouté avec succès.</p>
      <p>Cliquez sur "OK" pour revenir à la liste des consultations.</p>
      <button id="ok-button" class="btn btn-primary btn-md">OK</button>  <!-- Ajoutez un bouton "OK" -->
    </div>

</main>

<script>
  $(document).ready(function() {
      $('#consultations-forms').on('submit', function(e) {
          // Empêcher la soumission normale du formulaire
          e.preventDefault();

          // Effectuer une requête AJAX pour envoyer le formulaire
          $.ajax({
              type: 'POST',
              url: $(this).attr('action'),
              data: $(this).serialize(),
              success: function(response) {
                  // Afficher la pop-up de succès
                  $('#success-popup').dialog({
                      modal: true,
                      autoOpen: true,
                      title: 'Nouvelle consultation VMA ajoutée',
                      width: 400,
                      height: 'auto'
                  });
              // Appliquer la couleur personnalisée au titre de la pop-up
              $('.ui-dialog-title').css({'color':'#2C4178','text-align': 'center',});

              // Gérer le clic sur le bouton "OK"
              $('#ok-button').on('click', function() {
                    window.location.href = "{% url 'consultation:list_consultation_vma' %}"; 
                });
              // Fermer automatiquement la pop-up après 8 secondes
              // setTimeout(function() {
              //     $('#success-popup').dialog('close');
              //       }, 8000)
                
              },
              error: function(error) {
                  // Gérer les erreurs de requête
                  alert('Une erreur s\'est produite lors de l\'enregistrement de la consultation.')
              }
          });
      });
  });
</script>

<script>
    function viderFormulaire() {
        document.getElementById("consultations-forms").reset();
    }
</script>

{% endblock %}