{% extends 'base.html' %}

{% block title %} <title>Utilisateurs</title> {% endblock %}

{% block body %}
<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4 mb-4">
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap pt-3 pb-2 mb-5 border-bottom">
    <h1 class="h2">Changer le mot de passe<i class="bi bi-lock ms-2"></i></h1>
  </div>

  <!-- <h2>Section title</h2> -->
  <div class="container">
    <form id="change-password-form" method="post">
      {% csrf_token %}
      <div class="card">
        <div class="card-body mb-1">
          <main class="form-signin">
            <div class="row">
                <div class="col-12">
                    <div class="form-floating mt-4 text-info">
                        {{ form.old_password}}
                        <label for="old_password" class="text-primary">Ancien mot de passe</label>  
                      </div>
                </div>
                <div class="col-12">
                    <div class="form-floating mt-4 text-info">
                        {{ form.new_password1}}
                        <label for="new_password1" class="text-primary">Nouveau mot de passe</label>  
                      </div>
                </div>
                <div class="col-12">
                    <div class="form-floating mt-4 text-info">
                        {{ form.new_password2}}
                        <label for="new_password2" class="text-primary">Confirmation du nouveau mot de passe</label>  
                      </div>
                </div>
            </div>
          </main>
        </div>
        <div class="card-footer">
          <div class="row text-center">
            <div class="col-12 col-md-6">
                <a href="{% url 'users:compte' user.id %}" class="w-50 btn btn-md btn-outline-danger"><i class="bi bi-arrow-left me-2"></i>Retour</a>
            </div>
            <div class="col-12 col-md-6">
                <button class="w-50 btn btn-md btn-outline-primary" type="submit">Changer le mot de passe<i class="bi bi-arrow-clockwise ms-2"></i></button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</main>

<!-- Votre template pour la page de changement de mot de passe -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
$(document).ready(function() {
  // Gestionnaire d'événement pour le formulaire de changement de mot de passe
  $('#change-password-form').on('submit', function(e) {
    e.preventDefault();
    
    // Effectuer une requête AJAX pour obtenir le message de réussite
    $.ajax({
      url: '{% url "users:password_change_success" %}',
      type: 'GET',
      success: function(response) {
        // Afficher le message de réussite dans une fenêtre modale
        alert(response.message); // A defaut du alert on peut utiliser une bibliothèque de modales comme Bootstrap pour une meilleure présentation

        // Rediriger vers la page de liste de médicaments
        if (response.user_in_admin_group){
        window.location.href = '{% url "stocks:list_medocs" %}';
      } else {
        window.location.href = '{% url "consultation:list_consultation_jour" %}';
        }
      },
      error: function() {
        // Gérer les erreurs de requête
        alert('Une erreur s\'est produite lors du changement de mot de passe.');
      }
    });
  });
});
</script>

{% endblock %}