{% extends 'base.html' %}


{% block body %}
<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap pt-3 pb-2 mb-3 border-bottom">
      <h1 class="h2">Supprimer ce fournisseur</h1>
    </div>
    <br><br>

    <div class="container">
        <form method="POST" id="suppression-form">
            {% csrf_token %}
            <div class="card">
                <div class="card-body">
                    <p class="text-center lead">Voulez-vous supprimer cet élément ? ({{fournisseurs}}) </p>
                </div>
                <div class="card-footer">
                    <div class="row">
                        <div class="col-12 col-md-6">
                            <a href="{% url 'stocks:list_fournisseur' %}" class="w-100 btn btn-lg btn-outline-primary">Annuler</a>
                        </div>
                        <div class="col-12 col-md-6">
                            <button class="w-100 btn btn-lg btn-outline-danger" type="submit">Supprimer</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>

      <!-- Ajoutez une div pour la pop-up -->
      <div id="success-popup" style="display: none; text-align: center;">
        <p>Le fournisseur a été supprimé avec succès.</p>
        <p>Cliquez sur "OK" pour revenir à la liste des fournisseur.</p>
        <button id="ok-button" class="btn btn-primary btn-md">OK</button>  <!-- Ajoutez un bouton "OK" -->
      </div>
</main>

<script>
    $(document).ready(function() {
        $('#suppression-form').on('submit', function(e) {
            // Empêcher la soumission normale du formulaire
            e.preventDefault();
  
            // Effectuer une requête AJAX pour envoyer le formulaire
            $.ajax({
                type: 'POST',
                url: $(this).attr('action'),
                data: $(this).serialize(),
                success: function(response) {
                    // Afficher la pop-up de succès
                    $('#success-popup').dialog({
                        modal: true,
                        autoOpen: true,
                        title: 'Fournisseur supprimé',
                        width: 400,
                        height: 'auto'
                    });
                // Appliquer la couleur personnalisée au titre de la pop-up
                $('.ui-dialog-title').css({'color':'#2C4178','text-align': 'center',});
  
                // Gérer le clic sur le bouton "OK"
                $('#ok-button').on('click', function() {
                      window.location.href = "{% url 'stocks:list_fournisseur' %}";
                  });
               
                },
                error: function(error) {
                    // Gérer les erreurs de requête
                    alert('Une erreur s\'est produite lors de la suppression du fournisseur.')
                }
            });
        });
    });
  </script>

  {% endblock %}