{% extends 'base.html' %}

{% block title %}<title> Fournisseur</title>{% endblock %}

{% block body %}

<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap pt-3 pb-2 mb-3 border-bottom">
      <h1 class="h2">Enregistrer un nouveau fournisseur</h1>
    </div>
    <br><br>

    <div class="container">
      <form method="POST">
        {% csrf_token %}
        <div class="card mb-5">
            <div class="card-body">
              <main class="form-signin">
                <div class="row">
                  <div class="col-12 col-md-6">
                    <div class="form-floating mt-2 text-info">
                      {{ form.matricule}}
                      <label for="matricule" class="text-primary">Matricule</label>  
                    </div>
                  </div>
                  <div class="col-12 col-md-6">
                    <div class="form-floating mt-2 text-info">
                      {{ form.nom}}
                      <label for="nom" class="text-primary">Nom</label>  
                    </div>
                  </div>
                </div>
                  
                <div class="row">
                  <div class="col-12 col-md-4">
                    <div class="form-floating mt-2">
                      {{ form.prenoms}}
                      <label for="prenoms" class="text-primary">Prénoms</label>
                    </div>
                  </div>
                  <div class="col-12 col-md-3">
                    <div class="form-floating mt-2">
                      {{ form.email}}
                      <label for="email" class="text-primary">Email</label>
                    </div>
                  </div>
                  <div class="col-12 col-md-4">
                    <div class="form-floating mt-2">
                      {{ form.societe}}
                      <label for="societe" class="text-primary">Société</label>  
                    </div>
                  </div>
                </div>
              </main>
            </div>
            <div class="card-footer">
              <div class="row">
                  <div class="col-12 col-md-6">
                      <a href="{% url 'stocks:list_medocs' %}" class="w-100 btn btn-lg btn-outline-danger">Annuler</a>
                  </div>
                  <div class="col-12 col-md-6">
                      <button class="w-100 btn btn-lg btn-outline-primary" type="submit">Ajouter</button>
                  </div>
              </div>
            </div>
            
        </div>
      </form>
    </div>

</main>

{% endblock %}