{% extends 'base.html' %}

{% block title %} <title>Travailleurs</title> {% endblock %}

{% block body %}

<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap pt-3 pb-2 mb-3 border-bottom">
      <h1 class="h2">Liste des travailleurs<i class="bi bi-people ms-2"></i></h1>
  </div>
  <br>
    
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-8 col-lg-8">
        <div class="card">
          <div class="card-header text-center">
            RECHERCHER
          </div>
          <div class="card-body">
            <form method="POST" action="" class="row g-3 align-items-center">
              {% csrf_token %}
              <div class="col-auto">
                  <input type="text" id="search_nom" name="nom" class="form-control" placeholder="Nom du travailleur">
              </div>
              <div class="col-auto">
                <input type="text" id="search_matricule" name="matricule" class="form-control" placeholder="Matricule du travailleur">
            </div>
              <div class="col-auto">
                <button type="submit" class="btn btn-outline-primary btn-sm">Rechercher<i class="bi bi-search h6 ms-3"></i></button>
              </div>
           </form>
          </div>
        </div>
      </div> 
    
      <div class="col-12 col-md-4 col-lg-4 text-end" >
        <a href="{% url 'stocks:create_worker' %}">
          <button type="button" class="btn btn-outline-primary">
            <i class="bi bi-plus"></i>
            Ajouter
          </button>
        </a>
      </div>
    </div>
  </div>
  <br><br>
  <!-- <h2>Section title</h2> -->
  <div class="container mb-3">
    <div class="table-responsive">
      <table class="table table-striped table-sm table-hover">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Matricule</th>
            <th scope="col">Nom et Prénoms</th>
            <th scope="col">Departement</th>
            <th scope="col">Société</th>
            <th scope="col">Société Regie</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          {% for work in travailleur %}
          <tr>
            <td>{{ work.id }}</td>
            <td>{{ work.matricule }}</td>
            <td>{{ work.nom }}</td>
            <td>{{ work.atelier }}</td>
            <td>{{ work.societe }}</td>
            <td>{{ work.societe_regie }}</td>
            <td>
              <a href="{%  url 'stocks:delete_worker' work.pk %}" title="Supprimer ce travailleur">
                <button type="button" class="btn btn-outline-danger btn-sm">
                  <i class="bi bi-trash3-fill"></i>
                </button>
              </a>
            </td>
          </tr>

          {% empty %}
          <tr>
              <td colspan="8" class="text-center">Aucun travailleur trouvé.</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

  <div class="container">
    <nav aria-label="Pagination">
      <ul class="pagination justify-content-center">
        {% if travailleur.has_previous %}
        <li class="page-item">
          <a class="page-link" href="?page={{ travailleur.previous_page_number }}" aria-label="Précédent">
                    <span aria-hidden="true">&laquo;</span>
                    <span class="sr-only">Précédent</span>
          </a>
        </li>
        {% endif %}
            
        {% for page_num in travailleur.paginator.page_range %}
        {% if page_num <= 11 %}
        <li class="page-item {% if page_num == travailleur.number %}active{% endif %}">
          <a class="page-link" href="?page={{ page_num }}">{{ page_num }}</a>
        </li>
        {% endif %}
        {% endfor %}
            
        {% if travailleur.has_next %}
        <li class="page-item">
                <a class="page-link" href="?page={{ travailleur.next_page_number }}" aria-label="Suivant">
                  <span>...</span>
                    <span class="sr-only">Suivant</span>
                    <span aria-hidden="true">&raquo;</span>
                </a>
        </li>
        {% endif %}
      </ul>
    </nav>
  </div>
</main>

{% endblock %}