{% extends 'base.html' %}

{% block title %}<title> Statisques</title>{% endblock %}

{% block body %}
<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Statistiques des sorties<i class="bi bi-bar-chart-line ms-2"></i></h1>
    </div>

  <form class="form-inline" method="GET" action="{% url 'stocks:statistiques_global' %}">
    <div class="row">
      <div class="col-12 col-md-6 col-lg-6 my-3">
        <div class="form-group">
            <!-- <label for="month">Mois:</label> -->
            <select class="form-select" name="month" id="month">
                <option value="">Filtrer en fonction du mois</option>
                <option value="1">Janvier</option>
                <option value="2">Février</option>
                <option value="3">Mars</option>
                <option value="4">Avril</option>
                <option value="5">Mai</option>
                <option value="6">Juin</option>
                <option value="7">Juillet</option>
                <option value="8">Aout</option>
                <option value="9">Septembre</option>
                <option value="10">Octobre</option>
                <option value="11">Novembre</option>
                <option value="12">Decembre</option>
            </select>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-6 my-3">
        <div class="form-group ml-2">
          <!-- <label for="year">Année:</label> -->
          <select class="form-select" name="year" id="year">
              <option value="">Filtrer en fonction de l'année</option>
              {% for year in years %}
              <option value="{{ year }}">{{ year }}</option>
              {% endfor %}
          </select>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-6 col-lg-6 my-3">
        <div class="form-group">
          <!-- <label for="societe">Société:</label> -->
          <select class="form-select" name="societe" id="search_societe">
              <option value="">Filtrer en fonction de la société</option>
              <option value="CARENA">CARENA</option>
              <option value="REGIE">REGIE</option>
          </select>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-6 my-3">
        <div class="form-group">
          <!-- <label for="societe">Société:</label> -->
          <select class="form-select" name="societe_regie" id="search_societe_regie">
              <option value="">Filtrer en fonction de la société regie</option>
              <option value="SNS">SNS</option>
              <option value="RMO">RMO</option>
              <option value="TMS">TMS</option>
              <option value="MIRBAP">MIRBAP</option>
              <option value="EKAR">EKAR</option>
              <option value="CTMCI">CTMCI</option>
              <option value="ETS AF">ETS AF</option>
              <option value="E.A.C.I">E.A.C.I</option>
              <option value="WICS">WICS</option>
          </select>
        </div>
      </div>
      <div class="col-12 col-md-12 col-lg-12">
        <div class="text-center">
          <button type="submit" class="btn btn-outline-primary mt-3">Filtrer</button>
        </div>
      </div>
    </div>
  </form>

  <div class="row">
    <div class="col-12 col-md-12 col-lg-12 text-end">
        <a href="{% url 'stocks:statistiques_detail' %}" class="btn btn-outline-primary">Voir les statistiques en details</a>
    </div>
  </div>

  <div class="row">
    <p class="text-center h6 my-3 text-danger">Nombre total de tous les médicaments sortis en boite : {{total_sorties_boite}} <br> Nombre total de tous les médicaments sortis en plaquette : {{total_sorties_plaq}} </p>
  </div>

  <div class="table-responsive">
    <table class="table table-striped table-sm table-hover">
      <thead>
          <tr>
              <th scope="col">Société</th>
              <th scope="col">Sorties total en boite</th>
              <th scope="col">Pourcentage sorties</th>
              <th scope="col">Sorties total en plaquette</th>
              <th scope="col">Pourcentage</th>
          </tr>
      </thead>
      <tbody>
          {% for stat in statistiques_societe %}
          {% if stat.travailleurs__societe == "CARENA" %}
          <tr class="table-danger">
              <td>{{ stat.travailleurs__societe }}</td>
              <td>{{ stat.sorties_total }}</td>
              <td>{{ stat.pourcentage_sorties|floatformat:2 }}%</td>
              <td>{{ stat.sorties_total_plaq }}</td>
              <td>{{ stat.pourcentage|floatformat:2 }}%</td>
          </tr>

          {% endif %}

          {% if stat.travailleurs__societe == "REGIE" %}
              <tr class="table-warning">
                <td>{{ stat.travailleurs__societe }}</td>
                <td>{{ stat.sorties_total }}</td>
                <td>{{ stat.pourcentage_sorties|floatformat:2 }}%</td>
                <td>{{ stat.sorties_total_plaq }}</td>
                <td>{{ stat.pourcentage|floatformat:2 }}%</td>
            </tr>
            {% endif %}
            {% empty %}
            <tr>
                <td colspan="8" class="text-center">Aucune statistique à afficher.</td>
            </tr>
          {% endfor %}
      </tbody>
    </table>
  </div> 

  <br><br>
  <div class="row">
    <p class="text-center h6 my-3 text-danger">STATISTIQUES PAR SOCIETE REGIE</p>
  </div>

  <div class="table-responsive">
    <table class="table table-striped table-sm table-hover">
      <thead>
          <tr>
              <th scope="col">Société Regie</th>
              <th scope="col">Sorties total en boite</th>
              <th scope="col">Pourcentage sorties</th>
              <th scope="col">Sorties total en plaquette</th>
              <th scope="col">Pourcentage</th>
          </tr>
      </thead>
      <tbody>
          {% for stats in statistiques_societe_regie %}
          <tr>
              <td>{{ stats.travailleurs__societe_regie }}</td>
              <td>{{ stats.sorties_total }}</td>
              <td>{{ stats.pourcentage_sorties|floatformat:2 }}%</td>
              <td>{{ stats.sorties_total_plaq }}</td>
              <td>{{ stats.pourcentage|floatformat:2 }}%</td>
          </tr>
          {% empty %}
          <tr>
              <td colspan="8" class="text-center">Aucune statistique à afficher.</td>
          </tr>
          {% endfor %}
      </tbody>
    </table>
  </div> 

</main>
{% endblock %}
